@import "tailwindcss";
@plugin "daisyui";

@layer base {
  @keyframes gradient {
    0% {
      background-position: 0% 70%;
    }
    50% {
      background-position: 70% 50%;
    }
    100% {
      background-position: 60% 30%;
    }
  }

  .gradient-bg-animated {
    background: linear-gradient(-45deg, #ee7752, #e497ea, #aa99f3, #91c9ec);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .chango-regular {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
